* {
    font-family: 'Special Elite', cursive;
}

.container {
    max-width: 100%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

image {
    position: relative;
}

.mainTextOne {
    font-size: 5rem;
    position: absolute;
    margin-left: 5rem;
    top: -45px;
    width: 10%;
    z-index: 1;
}

.mainTextTwo {
    font-size: 5rem;
    position: absolute;
    margin-left: 55rem;
    margin-top: -90px;
    z-index: 1;
    width: 25%;
}
@media only screen and (max-width: 600px) {
    .container {
 
    }
}